@import '../MainTheme.css';

.checkbox-container {
    display: flex;
    justify-content: space-around;
}

.raid-row {
    height: 30px;
}

.raid-row:nth-child(odd) {
    background: var(--table-highlight);
}

.raid-column:nth-child(odd){
    background: var(--table-highlight);
}