.content {
    display: flex;
    flex-direction: column;
}

.input-field-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.input-field-container:not(:last-child) {
    padding-bottom: 15px;
}

.input-field-label {
    width: 25%;
}

.input-field-input {
    width: 75%;
}