.nav-bar > * {
    padding-right: 15px;
}

.nav-bar {
    height: min-content;
    background-color: var(--bg-color-lvl-0);
    color: #e8e8e8;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.nav-bar-element {
    padding: 6px;
    margin: 6px;
}

.nav-bar-search {
    display: flex;
    align-items: center;
}

.search-bar {
    background-color: var(--bg-color-lvl-3);
    border-width: 1px;
    border-color: var(--border-color);
}